img {
  width: 700px;
  height: 500px;
  margin: 0 auto;
  display: block;
}

h1 {
  text-align: center;
}

.about {
  color: salmon;
}

.highlight {
  background-color: yellow;
}

.important {
  font-style: italic;
}

.jazzy {
  color: blue;
}
