img {
  width: 500px;
  height: 350px;
  margin: 0 auto;
  display: block;
  float: right;
}

h1 {
  text-align: center;
}

.about {
  color: salmon;
  background-color: skyblue;
  float: left;
  display: block;
  width: 200px;
  margin-right: 20px;
  height: 1000px;
}

.highlight {
  background-color: yellow;
}

.important {
  font-style: italic;
}

.jazzy {
  color: blue;
}

.column {
  width: 300px;
  float: left;
}
